$spoqa-han-sans-path: "../fonts" !default;

@font-face {
    font-family: 'Spoqa Han Sans JP';
    font-weight: 700;
    src: local('SpoqaHanSansJP-Bold'), local('SpoqaHanSansJP-Bold'),
    url(#{$spoqa-han-sans-path}/SpoqaHanSansJP-Bold/SpoqaHanSansJP-Bold.eot) format('eot'),
    url(#{$spoqa-han-sans-path}/SpoqaHanSansJP-Bold/SpoqaHanSansJP-Bold.svg) format('svg'),
    url(#{$spoqa-han-sans-path}/SpoqaHanSansJP-Bold/SpoqaHanSansJP-Bold.ttf) format('truetype'),
    url(#{$spoqa-han-sans-path}/SpoqaHanSansJP-Bold/SpoqaHanSansJP-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Spoqa Han Sans JP';
    font-weight: 400;
    src: local('SpoqaHanSansJP-Regular'), local('SpoqaHanSansJP-Regular'),
    url(#{$spoqa-han-sans-path}/SpoqaHanSansJP-Regular/SpoqaHanSansJP-Regular.eot) format('eot'),
    url(#{$spoqa-han-sans-path}/SpoqaHanSansJP-Regular/SpoqaHanSansJP-Regular.svg) format('svg'),
    url(#{$spoqa-han-sans-path}/SpoqaHanSansJP-Regular/SpoqaHanSansJP-Regular.ttf) format('truetype'),
    url(#{$spoqa-han-sans-path}/SpoqaHanSansJP-Regular/SpoqaHanSansJP-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Spoqa Han Sans JP';
    font-weight: 200;
    src: local('SpoqaHanSansJP-Thin'), local('SpoqaHanSansJP-Thin'),
    url(#{$spoqa-han-sans-path}/SpoqaHanSansJP-Thin/SpoqaHanSansJP-Thin.eot) format('eot'),
    url(#{$spoqa-han-sans-path}/SpoqaHanSansJP-Thin/SpoqaHanSansJP-Thin.svg) format('svg'),
    url(#{$spoqa-han-sans-path}/SpoqaHanSansJP-Thin/SpoqaHanSansJP-Thin.ttf) format('truetype'),
    url(#{$spoqa-han-sans-path}/SpoqaHanSansJP-Thin/SpoqaHanSansJP-Thin.woff) format('woff');
}
