@spoqa-han-sans-path: "../Subset/SpoqaHanSans_JP/Spoqa%20Han%20sans%20JP_subset(webfont%20inclued)";

@font-face {
    font-family: 'Spoqa Han Sans JP';
    font-weight: 700;
    src: url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Bold/SpoqaHanSansJP-Bold.eot');
    src: local('SpoqaHanSansJP-Bold'),
    url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Bold/SpoqaHanSansJP-Bold.eot?#iefix') format('embedded-opentype'),
    url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Bold/SpoqaHanSansJP-Bold.woff2') format('woff2'),
    url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Bold/SpoqaHanSansJP-Bold.woff') format('woff'),
    url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Bold/SpoqaHanSansJP-Bold.ttf') format('truetype'),
    url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Bold/SpoqaHanSansJP-Bold.svg#SpoqaHanSansJP') format('svg');
}

@font-face {
    font-family: 'Spoqa Han Sans JP';
    font-weight: 400;
    src: url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Regular/SpoqaHanSansJP-Regular.eot');
    src: local('SpoqaHanSansJP-Regular'),
    url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Regular/SpoqaHanSansJP-Regular.eot?#iefix') format('embedded-opentype'),
    url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Regular/SpoqaHanSansJP-Regular.woff2') format('woff2'),
    url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Regular/SpoqaHanSansJP-Regular.woff') format('woff'),
    url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Regular/SpoqaHanSansJP-Regular.ttf') format('truetype'),
    url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Regular/SpoqaHanSansJP-Regular.svg#SpoqaHanSansJP') format('svg');
}

@font-face {
    font-family: 'Spoqa Han Sans JP';
    font-weight: 200;
    src: url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Thin/SpoqaHanSansJP-Thin.eot');
    src: local('SpoqaHanSansJP-Thin'),
    url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Thin/SpoqaHanSansJP-Thin.eot?#iefix') format('embedded-opentype'),
    url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Thin/SpoqaHanSansJP-Thin.woff2') format('woff2'),
    url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Thin/SpoqaHanSansJP-Thin.woff') format('woff'),
    url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Thin/SpoqaHanSansJP-Thin.ttf') format('truetype'),
    url('@{spoqa-han-sans-path}/SpoqaHanSansJP-Thin/SpoqaHanSansJP-Thin.svg#SpoqaHanSansJP') format('svg');
}
