@spoqa-han-sans-path: "../Subset/SpoqaHanSans/Spoqa%20Han%20sans_subset(webfont%20inclued)";

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: url('@{spoqa-han-sans-path}/SpoqaHanSans-Bold/SpoqaHanSans-Bold.eot');
    src: local('SpoqaHanSans-Bold'),
    url('@{spoqa-han-sans-path}/SpoqaHanSans-Bold/SpoqaHanSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('@{spoqa-han-sans-path}/SpoqaHanSans-Bold/SpoqaHanSans-Bold.woff2') format('woff2'),
    url('@{spoqa-han-sans-path}/SpoqaHanSans-Bold/SpoqaHanSans-Bold.woff') format('woff'),
    url('@{spoqa-han-sans-path}/SpoqaHanSans-Bold/SpoqaHanSans-Bold.ttf') format('truetype'),
    url('@{spoqa-han-sans-path}/SpoqaHanSans-Bold/SpoqaHanSans-Bold.svg#SpoqaHanSans') format('svg');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: url('@{spoqa-han-sans-path}/SpoqaHanSans-Regular/SpoqaHanSans-Regular.eot');
    src: local('SpoqaHanSans-Regular'),
    url('@{spoqa-han-sans-path}/SpoqaHanSans-Regular/SpoqaHanSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('@{spoqa-han-sans-path}/SpoqaHanSans-Regular/SpoqaHanSans-Regular.woff2') format('woff2'),
    url('@{spoqa-han-sans-path}/SpoqaHanSans-Regular/SpoqaHanSans-Regular.woff') format('woff'),
    url('@{spoqa-han-sans-path}/SpoqaHanSans-Regular/SpoqaHanSans-Regular.ttf') format('truetype'),
    url('@{spoqa-han-sans-path}/SpoqaHanSans-Regular/SpoqaHanSans-Regular.svg#SpoqaHanSans') format('svg');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 200;
    src: url('@{spoqa-han-sans-path}/SpoqaHanSans-Thin/SpoqaHanSans-Thin.eot');
    src: local('SpoqaHanSans-Thin'),
    url('@{spoqa-han-sans-path}/SpoqaHanSans-Thin/SpoqaHanSans-Thin.eot?#iefix') format('embedded-opentype'),
    url('@{spoqa-han-sans-path}/SpoqaHanSans-Thin/SpoqaHanSans-Thin.woff2') format('woff2'),
    url('@{spoqa-han-sans-path}/SpoqaHanSans-Thin/SpoqaHanSans-Thin.woff') format('woff'),
    url('@{spoqa-han-sans-path}/SpoqaHanSans-Thin/SpoqaHanSans-Thin.ttf') format('truetype'),
    url('@{spoqa-han-sans-path}/SpoqaHanSans-Thin/SpoqaHanSans-Thin.svg#SpoqaHanSans') format('svg');
}
