<div class="FontDemo">
  <div class="FontDemo-optionContainer">
    <div class="FontDemo-weightOptionContainer">
      <span class="FontDemo-weightOption FontDemo-weightOption--thin" data-weight="100">A</span>
      <span class="FontDemo-weightOption FontDemo-weightOption--regular" data-weight="400">A</span>
      <span class="FontDemo-weightOption FontDemo-weightOption--bold" data-weight="700">A</span>
    </div>
    <div class="FontDemo-sizeOptionContainer">
      <span class="FontDemo-sizeOptionLabel FontDemo-sizeOptionLabel--small"
      >A</span
      ><input type="range" class="FontDemo-sizeOption" min="10" max="40" value="20" /
      ><span class="FontDemo-sizeOptionLabel FontDemo-sizeOptionLabel--large"
      >A</span>
    </div>
    <div class="FontDemo-guideText">직접 입력해보세요.</div>
  </div>
  <div class="FontDemo-demo" contenteditable placeholder="직접 입력해보세요.">{{ include.text }}</div>
</div>
