<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = '//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.5';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <header id="header">
  <div class="nav-box">
    <div class="container-fluid">
      <div class="nav-text">
        <a href="{{ site.url }}/ko-KR/" class="title">스포카 한 산스 네오</a>
        <span class="language-selector">
          <a class="selected" href="{{ site.url }}/ko-KR/">KO</a>｜<a href="{{ site.url }}/en-US/">EN</a>
        </span>
      </div>
    </div>
  </div>
</header>

<section class="section section-header hero-wrap">
  <div class="container-fluid">
    <h1 class="header-text"><span class="header-text-700">Spoqa Han Sans Neo is a font that improves the previous Spoqa Han Sans.</span> <span style="font-family:'Spoqa Han Sans Neo'; font-weight: 500;">It supports more diverse weights and improves the readability and uniformity.<span style="color: #4c80f1;"> 스포카 한 산스 네오</span>는 기존의 스포카 한 산스를 개선한 글꼴입니다.</span> <span class="header-text-400">더 다양한 웨이트를 지원하고, 가독성과 통일성을 향상했습니다.</span> <span class="header-text-300">スポカハンサンスネオは従来のスポカハンサンスを改善したフォントです。</span> <span class="JP-word-break header-text-100">より多彩なウェイトをサポートし、可読性と統一性を向上しました。</span></h1>
  </div>
</section>
<hr />
<div class="subnav-wrap subnav-scrolling">
  <div id="subnav-anchor"></div>
  <nav>
    <ul class="subnav-menus">
      <li><a href="#header">메인으로</a></li>
      <li><a href="#intro">소개</a></li>
      <li><a href="#feature">특징</a></li>
      <li><a href="#preview">써보기</a></li>
      <li><a href="#download">내려받기</a></li>
      <li><a href="#webfont">웹폰트 사용하기</a></li>
      <li><a href="#fontinuse">사용 예시</a></li>
    </ul>
  </nav>
</div>
<article class="content-wrap">
  <section class="section" id="intro">
    <div class="container-fluid">
      <h3 class="section-title">2015년 한글날 공개한 커스텀 글꼴,<br>스포카 한 산스</h3>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="column-group">
            <div class="column-title">
              다양한 언어 환경에서의 사용성을<br>극대화했습니다.
            </div>
            <div class="column-content">
              한국과 일본의 웹, 앱에서 두루 활용해야 했기에 국문, 영문, 일문에 모두 대응하는 오픈소스 글꼴 노토 산스를 커스텀했습니다.
            </div>
         </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="column-group">
            <div class="column-title">
              숫자를 많이 쓰는 서비스의 특성이<br>반영되어있습니다.
            </div>
            <div class="column-content">
              휴대폰 번호를 활용하는 멤버십 서비스이기에 사용성을 고려해 숫자를 커스텀했습니다. 라토 서체 특유의 둥근 획의 끝을 다듬어 노토 산스의 국문과 어울리게 변경했습니다.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="column-group">
            <div class="column-title">
              용량 다이어트를 감행해 웹 페이지에서도<br>부담 없이 사용할 수 있습니다.
            </div>
            <div class="column-content">
              노토 산스를 포함한 한글꼴은 전체 용량이 크기 때문에 웹에서 사용하기에 좋지 않습니다. 이에 11,172자에서 한글꼴 완성형의 최소 단위인 2,350자로 줄였습니다. 첫 버전의 용량은 16MB에서 441KB 수준으로 줄었습니다. 
              <div class="link-underline">
                <a target="_blank" href="https://spoqa.github.io/2016/06/03/localize-type-setting.html">스포카 한 산스와 글꼴 경량화</a>
              </div>
            </div>
         </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="column-group">
            <div class="column-title">
              기존 스포카 한 산스를 개선한<br>세 번째 버전, 네오를 공개합니다.
            </div>
            <div class="column-content">
              스포카 한 산스를 처음 공개하고 많은 사랑을 받았습니다. 그만큼 다양한 피드백을 들었고, 내부적으로 직접 사용하면서도 개선의 필요성을 느꼈습니다. 이를 반영해 개선한 스포카 한 산스 네오를 공개합니다. 
              <div class="section-description" style="padding-top: 20px;">
                  *제작에 도움을 주신 위예진 디자이너님께 감사드립니다.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section class="section" id="feature">
    <div class="container-fluid">
      <h3 class="section-title">진화한 스포카 한 산스 네오를 공개합니다.</h3>
      <div class="row">
        <div class="col-xs-12">
          <hr />
          <div class="column-group">
            <img class="column-img fig_1" src="{{ site.url }}/images/feature/fig_1.png" />
            <div class="column-content feature-content">
              이전의 스포카 한 산스에는 각진 형태의 숫자와 쉼표, 그리고 둥근 형태의 다른 글리프들이 섞여 이질적인 느낌을 주었습니다. 스포카 한 산스 네오는 숫자에 쓰인 Lato에 맞추어 다른 둥근 글리프들의 형태를 각지게 변경했습니다. 이를 통해 서체의 가독성과 통일성을 향상했습니다. 전각 특수문자들 또한 함께 변경해, 일본어를 포함한 다국어로 텍스트를 작성해도 같은 인상을 주도록 했습니다.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <hr />
          <div class="column-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <img class="column-img fig_2" src="{{ site.url }}/images/feature/fig_2.png">
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="column-content feature-content">
                  일부 프로그램에서 매우 넓게 잡히던 행간을 정상적인 길이로 조정했습니다. 사용 빈도가 적고 높이가 높은 특정 글리프를 삭제하여 해결했습니다. 이제 Adobe 프로그램이나 안드로이드 스튜디오에서도 별도의 행간 조정 없이 스포카 한 산스 네오를 사용할 수 있습니다.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <hr />
          <div class="column-group fig-magin-adhoc">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <img class="column-img fig_3" src="{{ site.url }}/images/feature/fig_3.png" />
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 ">
                <div class="column-content feature-content">
                Regular와 Bold의 사이 폰트 웨이트인 Medium을 추가했습니다. Regular와 Bold의 두께 차이가 큰 반면, 중간에 해당하는 웨이트가 부족해 디자인에 한계가 있었습니다. Medium 웨이트를 추가함으로서 폰트 활용의 폭이 넓어졌으며, 더욱 미려한 타이포그래피 표현이 가능합니다.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <hr />
          <div class="column-group">
            <img class="column-img fig_4" src="{{ site.url }}/images/feature/fig_4.png" />
            <div class="column-content feature-content">
              “더보기”나 “뒤로” 레이블과 함께 쓰는 화살표(caret) 글리프를 PUA(Private Use Areas)에 추가했습니다. 보통 > (U+003E)로 사용되곤 하는데 완결된 형태의 아이콘을 넣어 UI 요소로서의 완성도를 높이고자 했습니다.
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <hr />
          <div class="column-group">
            <img class="column-img fig_5" src="{{ site.url }}/images/feature/fig_5.png" />
            <div class="column-content feature-content">
              TTF만 지원하던 이전과 달리, Postscript Curve를 기반으로 하는 OTF와 WOFF2 형식을 지원합니다. 윈도우에서 웹폰트로 사용할 때 폰트가 좀 더 깨끗하게 출력되며, 고해상도의 출력물에도 사용이 가능합니다.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <hr />
          <div class="column-group">
            <img class="column-img fig_6" src="{{ site.url }}/images/feature/fig_6.png" />
            <div class="column-content feature-content">
              한글 완성형 글꼴에 추가 글자를 넣어 사용성을 개선했습니다. 노민지, 윤민구 님의 논문인 “<a target="_blank" href="http://koreantypography.org/wp-content/uploads/2016/02/kst_12_7_2_06.pdf">KS 코드 완성형 한글의 추가 글자 제안</a>”을 참고했습니다. 두 번째 버전의 서브셋은 KS 완성형에 추가 글자 224자를 더해 총 2,574자를 제공합니다.
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <hr />
          <div class="column-group">
            <img class="column-img fig_7" src="{{ site.url }}/images/feature/fig_7.png" />
            <div class="column-content feature-content">
              기예메의 모양을 다른 글자와 어울리게 변경했고, 전각으로 되어있던 낫표와 괄호를 디자이너가 아닌 일반 사용자도 범용 애플리케이션과 웹 환경에서 미세 조정 없이 반각으로 사용할 수 있게 조정했습니다.
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="section section-preview" id="preview">
    <div class="container-fluid">
      <h3 class="section-title">스포카 한 산스 네오 써보기</h3>
      <div class="section-description">
        아래 섹션에 원하는 글자를 입력해 스포카 한 산스 네오를 웹 페이지에서 써보세요!<br>
        원하는 글자 굵기를 선택할 수 있으며, 글자 크기, 글줄 사이, 글자 사이 및 색상을 변경할 수 있습니다. 
      </div>
      <div class="preview-area">
<div class="control-bar">
<div class="slider group">
  <div class="font-size slider"
       data-min="10"
       data-max="100"
       data-val="34">
    <img src="{{ site.url }}/images/assets/preview_font_size.svg">
    <div class="range"><div class="line"></div><div class="handle"></div></div>
  </div>
  <div class="line-height slider"
       data-min="1"
       data-max="2"
       data-val="1.6">
    <img src="{{ site.url }}/images/assets/preview_line_height.svg">
    <div class="range"><div class="line"></div><div class="handle"></div></div>
  </div>
  <div class="letter-spacing slider"
       data-min="-0.15"
       data-max="1"
       data-val="0">
    <img src="{{ site.url }}/images/assets/preview_letter_spacing.svg">
    <div class="range"><div class="line"></div><div class="handle"></div></div>
  </div>
</div>
<div class="others group">
  <div class="theme control">
    <div class="light option"></div>
    <div class="dark option selected"></div>
  </div>
  <div class="font-family control">
    <select>
      <option value="thin">Thin</option>
      <option value="light">Light</option>
      <option value="regular" selected>Regular</option>
      <option value="medium">Medium</option>
      <option value="bold">Bold</option>
    </select>
  </div>
</div>
</div>
<textarea></textarea>
</div>

    <script src="{{ site.url }}/js/slider.js">
    </script>
    </div>
  </section>
  <section class="section" id="download">
    <div class="container-fluid">
      <h3 class="section-title">스포카 한 산스 네오 내려받기</h3>
      <div class="link-underline download-wrap">
        <a href="https://github.com/spoqa/spoqa-han-sans/releases/download/v3.0.0/SpoqaHanSansNeo_all.zip">모두 내려받기</a>
        <span class="download-group">
          <a href="https://github.com/spoqa/spoqa-han-sans/releases/download/v3.0.0/SpoqaHanSansNeo_OTF_original.zip">OTF 오리지널</a>
          <a href="https://github.com/spoqa/spoqa-han-sans/releases/download/v3.0.0/SpoqaHanSansNeo_OTF_subset.zip">OTF 서브셋</a>
        </span>
        <span class="download-group">
          <a href="https://github.com/spoqa/spoqa-han-sans/releases/download/v3.0.0/SpoqaHanSansNeo_TTF_original.zip">TTF 오리지널</a>
          <a href="https://github.com/spoqa/spoqa-han-sans/releases/download/v3.0.0/SpoqaHanSansNeo_TTF_subset.zip">TTF 서브셋</a>
        </span>
      </div>
      <p>서브셋의 경우 국문버전은 총 2,574의 글리프를 지원해 오리지널 보다 가볍게 사용하실 수 있습니다.
      </p>
      <p>스포카 한 산스 네오는 개인 및 기업 사용자를 포함한 모든 사용자에게 무료로 제공되며<br>오픈 폰트 라이선스로 자유롭게 사용, 수정 및 재배포하실 수 있습니다.
      </p>
    </div>
  </section>
  <hr />
  <section class="section" id="webfont">
    <div class="container-fluid">
      <h3 class="section-title">웹폰트로 사용하기</h3>
      <p>스포카 한 산스 네오를 웹폰트로 사용하시려면 두 가지 방법이 있습니다.</p>
      <p>스타일 시트에 아래의 코드를 넣거나,</p>

      <figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="k">@import</span> <span class="sx">url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css)</span><span class="p">;</span>
</code></pre></figure>
      <p>혹은 HTML의 <code>&lt;head&gt;</code> 태그 안에 아래의 코드를 넣어주세요.</p>
      <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;link</span> <span class="na">href=</span><span class="s">'//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css'</span> <span class="na">rel=</span><span class="s">'stylesheet'</span> <span class="na">type=</span><span class="s">'text/css'</span><span class="nt">&gt;</span>
</code></pre></figure>
      <p>그후 <code>&lt;style&gt;</code> 태그 안에  <code>font-family</code>를 설정해주세요.</p>
      <figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="o">*</span> <span class="p">{</span> <span class="nl">font-family</span><span class="p">:</span> <span class="s1">'Spoqa Han Sans Neo'</span><span class="o">,</span> <span class="s1">'sans-serif'</span><span class="p">;</span> <span class="p">}</span></code></pre></figure>

      <p>웹폰트로 사용할 때 위 방법을 사용하시면 무료로 서브되는 버전이기에 불러오는 속도가 느릴 수 있습니다. 가능하면 직접 서브해서 사용하길 추천합니다. 조금 더 자세히 알고싶다면 &ldquo;<a target="_blank" href="https://spoqa.github.io/2017/02/15/using-shs-as-webfonts.html">스포카 한 산스 웹폰트로 사용하기</a>&rdquo; 포스트을 참조하세요.</p>
      <p></p>
    </div>
  </section>
  <hr />
  <section class="section" id="fontinuse">
    <div class="container-fluid">
      <h3 class="section-title">어느 서비스에서 스포카 한 산스를 사용하고 있을까요?</h3>
      <div class="section-description">
        스포카 한 산스는 명료한 숫자 모양 덕분에, 숫자를 많이 써야 하는 서비스의 사랑을 받고 있습니다. 또한, 무료로 배포하고 있어 비영리 행사나 예술계 행사의 웹 페이지에서도 자주 쓰입니다. 어떤 곳에서 어떻게 스포카 한 산스를 사용하는지 아래 링크를 눌러 확인해보세요.
      </div>
      <div class="row section-font-in-use">
        <div class="col-sm-4 col-xs-12 item-font-in-use toss">
          <button><a href="https://toss.im/" target="_blank">Toss</a></button>
        </div>
        <div class="col-sm-4 col-xs-12 item-font-in-use tada">
          <button><a href="https://tadatada.com/" target="_blank">Tada</a></button>
        </div>
       <div class="col-sm-4 col-xs-12 item-font-in-use mangoplate">
          <button><a href="https://www.mangoplate.com/" target="_blank">Mango Plate</a></button>
        </div>
        <div class="col-sm-4 col-xs-12 item-font-in-use honestfund">
          <button><a href="https://www.honestfund.kr/" target="_blank">Honest Fund</a></button>
        </div>
        <div class="col-sm-4 col-xs-12 item-font-in-use coinone">
          <button><a href="https://coinone.co.kr/" target="_blank">Coinone</a></button>
        </div>
        <div class="col-sm-4 col-xs-12 item-font-in-use thevc">
          <button><a href="https://thevc.kr/" target="_blank">The VC</a></button>
        </div>
        <div class="col-sm-4 col-xs-12 item-font-in-use riiid">
          <button><a href="https://www.riiid.co/" target="_blank">Riiid</a></button>
        </div>
        <div class="col-sm-4 col-xs-12 item-font-in-use terrafunding">
          <button><a href="https://terafunding.com/" target="_blank">Terra Funding</a></button>
        </div>
        <div class="col-sm-4 col-xs-12 item-font-in-use cashnote">
          <button><a href="http://cashnote.kr/" target="_blank">Cashnote</a></button>
        </div>
      </div>
    </div>
  </section>
</article>


<footer class="footer footer-light">
  <div class="container-fluid">
    <div class="footer-wrapper row">
      <div class="col-xs-12">
        <div class="info-default row">
          <div class="col-xs-12 col-sm-10 col-md-12 col-lg-11">
            Spoqa Han Sans fonts are open source. All Spoqa Han Sans fonts are published under the <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL" target="_blank">SIL Open Font License, Version 1.1</a>.
          </div>
        </div>
        <div class="footer-menus">
          <a target="_blank" href="http://scripts.sil.org/OFL">Open Font License</a>
          <a target="_blank" href="https://github.com/spoqa/spoqa-han-sans" target='blank'>View on Github</a>
          <a href="https://dribbble.com/spoqa" target='blank' class="footer-menu">Dribbble</a>
        </div>
        <div class="corp-info">
          <a class="corp-logo" href="http://www.spoqa.com/" target="blank"></a>
          <div class="corp-text">
            <span>SEOUL</span>
            <span>∙</span>
            <span>BUSAN</span>
            <span>∙</span>
            <span>TOKYO</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="progress-container">
  <div class="progress-bar">
  </div>
</div>
