//
// Buttons
// ==========================================================================


// Base style
// --------------------------------------------------------------------------

.btn {
  position: relative;
  display: inline-block;
  margin: 1px auto 0;
  padding: $btn-padding-base;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: $form-line-height-base;
  color: $bth-color-base;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: $btn-bg-base;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-radius: $border-radius-base;
  @include user-select(none);// For unselecting text on the page
  -webkit-appearance: none; // Corrects inability to style clickable `input` types in iOS.
  transition: background .2s ease,
              color      .1s ease;

  &:hover,
  &:focus,
  &.focus {
    outline: 0;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks

    .caret {
      @include opacity(0.4);
    }
  }
}


// Default button
// --------------------------------------------------------------------------

.btn-default {
  color: $bth-color-base;
  border-color: $btn-default-border;

  &:hover,
  &:active,
  &:focus {
    color: $bth-color-base;
    background-color: $btn-default-highlight-bg;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    color: $btn-default-disabled-color;
    border-color: $btn-default-disabled-border;
    background-color: $btn-default-disabled-bg;
  }
}


// Primary button
// --------------------------------------------------------------------------

.btn-primary {
  color: $bth-primary-color;
  border-color: $btn-primary-border;
  -webkit-font-smoothing: subpixel-antialiased;

  &:hover,
  &:active,
  &:focus {
    color: $bth-primary-color;
    background-color: $btn-primary-highlight-bg;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    color: $btn-primary-disabled-color;
    border-color: $btn-primary-disabled-border;
  }
}


// Solid button
// --------------------------------------------------------------------------

.btn-solid {
  color: $btn-solid-color;
  border-color: $btn-solid-border;
  background-color: $btn-solid-bg;
  // The background is clipped to the padding box not the border
  -moz-background-clip: padding; // IE8
       background-clip: padding-box; 

  &:hover,
  &:active,
  &:focus {
    border-color: $btn-solid-highlight-border;
    background-color: $btn-solid-highlight-bg;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    color: $btn-solid-disabled-color;
    border-color: $btn-solid-disabled-border;
    background-color: $btn-solid-disabled-bg;
  }
}


// Danger button
// --------------------------------------------------------------------------

.btn-danger {
  color: $bth-color-base;
  border-color: $btn-default-border;

  &:hover,
  &:active,
  &:focus {
    color: $btn-danger-color;
    border-color: $btn-danger-border;
    background-color: $btn-danger-highlight-bg;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    color: $btn-default-disabled-color;
    border-color: $btn-default-disabled-border;
    background-color: $btn-default-disabled-bg;
  }
}


// Convex button
// --------------------------------------------------------------------------

.btn-convex {
  color: $bth-color-base;
  border-color: $btn-default-border;
  background: $btn-convex-bg;
  box-shadow: inset 0px 1px 0px rgba(#fff, 0.7),
                    0px 1px 1px rgba(#000, 0.07);


  &:hover,
  &:focus {
    color: $bth-color-base;
    background-color: $btn-convex-highlight-bg;
    box-shadow: inset 0px 1px 0px rgba(#fff, 0.4),
                      0px 1px 1px rgba(#000, 0.07);
  }
  &:active {
    background-color: $btn-convex-highlight-bg;
    box-shadow: inset 0px 1px 1px rgba(#000, 0.07);
  }
}


// Large button
// --------------------------------------------------------------------------

.btn-lg {
  padding: $btn-padding-lg;
  font-size: $btn-lg-font-size;
  border-radius: $border-radius-lg;
}


// Block button
// --------------------------------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 6px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
