//
// Brand color v2.2 
// ==========================================================================


// MainBlue
//
// '<colorname>-0' is the default color.
// --------------------------------------------------------------------------

$mainblue-d2:               #1233b6;
$mainblue-d1:               #2c5ae9;
$mainblue-0:                #4c80f1;
$mainblue-l1:               #87b1f3;
 

// SubColor - brand
//
// '<colorname>-0' is the default color.
// --------------------------------------------------------------------------

// dodo point
$point-d2:                  $mainblue-d2;
$point-d1:                  $mainblue-d1;
$point-0:                   $mainblue-0;
$point-l1:                  $mainblue-l1;
 
// dodo insight
$insight-d2:                #005e9e;
$insight-d1:                #00a9dd;
$insight-0:                 #18cdea;
$insight-l1:                #7ee8f5;

// dodo matic
$matic-d2:                  #3d1faa;
$matic-d1:                  #703cef;
$matic-0:                   #8c6bf7;
$matic-l1:                  #b1a7ff;

// dodo regi
$regi-d2:                   #00725f;
$regi-d1:                   #00bc8b;
$regi-0:                    #4ed89e;
$regi-l1:                   #89f7c2;


// Grey
// --------------------------------------------------------------------------

$grey-9:                    #292a2b;
$grey-8:                    #363a3c;
$grey-7:                    #4d5256;
$grey-6:                    #81878b;
$grey-5:                    #a9afb3;
$grey-4:                    #ced3d6;
$grey-3:                    #e1e4e6;
$grey-2:                    #eaedef;
$grey-1:                    #f3f5f6;
$grey-0:                    #f8fafb;


// UI sub color
// --------------------------------------------------------------------------

// Red
$red-d2:                    #b24d65;
$red-d1:                    #e55e81;
$red-0:                     #ff7595;
$red-l1:                    #ffacbf;
 
// Green
$green-d2:                  #60a253;
$green-d1:                  #7cd06b;
$green-0:                   #8ae877;
$green-l1:                  #b9f1ad;


// Print sub color
//
// Only for BI guideline website
// --------------------------------------------------------------------------

// Yellow
$yellow-0:                  #ffda00;


// Illustration color
// --------------------------------------------------------------------------

// Pink
$illust-pink-2:             #f78bd2; //R:247 G:139 B:210
$illust-pink-1:             #ffa7e7; //R:255 G:167 B:231
$illust-pink-0:             #fec4f2; //R:254 G:196 B:242

// Purple
$illust-purple-0:           #d2a3fd; //R:210 G:163 B:253
$illust-purple-1:           #c575fe; //R:197 G:117 B:254
$illust-purple-2:           #b954ef; //R:185 G:84 B:239

// Red
$illust-red-2:              #e05b52; //R:224 G:91 B:82
$illust-red-1:              #ff7777; //R:255 G:119 B:119
$illust-red-0:              #feb0b5; //R:254 G:176 B:181

// Orange
$illust-orange-2:           #fa9005; //R:250 G:144 B:5
$illust-orange-1:           #ffa628; //R:255 G:166 B:40
$illust-orange-0:           #fecb94; //R:254 G:203 B:148

// Yellow
$illust-yellow-2:           #fcdd44; //R:252 G:221 B:68
$illust-yellow-1:           #ffed6c; //R:255 G:237 B:108
$illust-yellow-0:           #fef5b6; //R:254 G:245 B:182

// Green
$illust-green-2:            #63e596; //R:99 G:229 B:150
$illust-green-1:            #83f6a9; //R:131 G:246 B:169
$illust-green-0:            #b5f9c7; //R:181 G:249 B:199

// Skyblue
$illust-sky-2:              #6cdced; //R:108 G:220 B:237
$illust-sky-1:              #8df8ff; //R:141 G:248 B:255
$illust-sky-0:              #b3fefe; //R:179 G:254 B:254

// Blue
$illust-blue-2:             $mainblue-d1; //R:44 G:90 B:232
$illust-blue-1:             $mainblue-0; //R:76 G:128 B:241
$illust-blue-0:              $mainblue-l1; //R:136 G:177 B:245