.FontDemo {
  width: 100%;
  min-height: 250px;
  &-optionContainer {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    &:after {
      display: table;
      clear: both;
      content: '';
    }
  }
  &-weightOptionContainer {
    float: left;
    font-size: 20px;
  }
  &-weightOption {
    cursor: pointer;
    padding: 0 3px;
    &--thin {
      font-weight: 100;
    }
    &--regular {
      font-weight: 400;
    }
    &--bold {
      font-weight: 700;
    }
  }
  &-sizeOptionContainer {
    float: left;
    margin-left: 40px;
  }
  &-sizeOption {
    height: 12px;
    margin: 0 5px;
  }
  &-sizeOptionLabel {
    &--small {
      font-size: 12px;
      vertical-align: 2px;
    }
    &--large {
      font-size: 20px;
      vertical-align: 0;
    }
  }
  &-guideText {
    float: right;
  }
  &-demo {
    outline: 0;
    margin-top: 10px;
    width: 100%;
    border: none;
    line-height: 1.4;
  }
}

/*
http://danielstern.ca/range.css
코드 생성 후 최상단의 width, margin 삭제
*/
input[type=range].FontDemo-sizeOption {
  -webkit-appearance: none;
}
input[type=range].FontDemo-sizeOption:focus {
  outline: none;
}
input[type=range].FontDemo-sizeOption::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #333333;
  border-radius: 0px;
  border: 0px solid #333333;
}
input[type=range].FontDemo-sizeOption::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  border: 2px solid #ffffff;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #333333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range].FontDemo-sizeOption:focus::-webkit-slider-runnable-track {
  background: #404040;
}
input[type=range].FontDemo-sizeOption::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #333333;
  border-radius: 0px;
  border: 0px solid #333333;
}
input[type=range].FontDemo-sizeOption::-moz-range-thumb {
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  border: 2px solid #ffffff;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #333333;
  cursor: pointer;
}
input[type=range].FontDemo-sizeOption::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].FontDemo-sizeOption::-ms-fill-lower {
  background: #262626;
  border: 0px solid #333333;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].FontDemo-sizeOption::-ms-fill-upper {
  background: #333333;
  border: 0px solid #333333;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].FontDemo-sizeOption::-ms-thumb {
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  border: 2px solid #ffffff;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #333333;
  cursor: pointer;
  height: 1px;
}
input[type=range].FontDemo-sizeOption:focus::-ms-fill-lower {
  background: #333333;
}
input[type=range].FontDemo-sizeOption:focus::-ms-fill-upper {
  background: #404040;
}
