//
// Page Header
// ==========================================================================

.page-header {
  padding: $container-padding-base;
  margin-bottom: 100px;
}

.page-title,
.page-header h3 {
  display: inline-block;
  margin: 0;
  font-size: 36px;
  font-weight: 200;
}
