.topnav {
  position: relative;
  height: $navbar-height;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $divider-color;
  background-color: #fff;
  list-style: none;
  z-index: $zindex-topnav-fixed;
  @include clearfix; // Prevent floats from breaking the navbar

  .brand-logo {
    margin-top: ($navbar-height - $brand-logo-height) / 2;
    height: $brand-logo-height;
    width: 110px;
    display: inline-block;
    background: $logo-dodo-point-default; //FIXME
    background-size: 100%;
  }

  .topnav-tabs {
    margin: 0 auto;
    float: right; // For remove lists side margin

    li {
      float: left; // For remove lists side margin
      position: relative;
      display: inline-block;
      margin-bottom: -1px;

      a.topnav-tab {
        display: block;
        font-size: $topnav-font-size;
        color: $text-color;
        line-height: $topnav-font-size * 1.5;  //FIXME: `line-height-base: font-size * 1.5`
        padding: (($navbar-height - $navbar-border-width - $topnav-font-size * 1.5) / 2) $topnav-gutter;
        border-bottom: $navbar-border-width solid transparent;
        @extend .transition;

        &:hover {
          border-color: $border-color;
        }

        &:active,
        &.active,
        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }
    }
    .topnav-info {
      margin-left: 20px;
      float: right;
      text-align: right;
      line-height: $navbar-height - $navbar-border-width;

      .phone-number {
        font-weight: 700;
      }
    }
  }
}

// Fixed top nav

.topnav-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-topnav-fixed;
} 
