//
// Spoqa Han Sans
// ==========================================================================

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);


// Default Setting
// --------------------------------------------------------------------------

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.5;
  color: $text-color;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;

  &:lang(ja) {
    font-family: $font-family-jp;
    line-height: 1.6;
  }
}


// Heading
// --------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  line-height: 1.3;
}

h1, h2 {
  font-weight: 100;
}

h3, h4, h5, h6 {
  font-weight: 400;
}

h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 22px; }
h4 { font-size: 22px; }
h5 { font-size: $font-size-adjust; }
h6 { font-size: $font-size-base; }


// Body text
// --------------------------------------------------------------------------

p {
  margin: 0 0 0.5em;
  font-size: $font-size-base;
}


// Lists
// --------------------------------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  margin: 0.75em auto;
  padding-left: 30px;

  li {
    margin-bottom: 0.25em;
  }

  ul, ol {
    margin: 0.5em auto 1em;
    padding-left: 1em;
  }

  ol {
    list-style-type: lower-roman;
  }
}

// List options
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Description Lists
// --------------------------------------------------------------------------

dl {
  margin-top: 0; // Remove browser default
  margin-bottom: 2em;
}

dt,
dd {
  line-height: 1.5;
}

dt {
  margin-bottom: 1em;
  font-weight: bold;
}

dd {
  margin-left: 0; // Undo browser default

  + dt {
    margin-top: 50px;
  }
}


// Inline text elements
// --------------------------------------------------------------------------

small {
  font-size: $font-size-sm;
  -webkit-font-smoothing: subpixel-antialiased;
}


// Alignment
// --------------------------------------------------------------------------

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
