<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Spoqa Han Sans</title>
    <link rel="canonical" href="http://www.spoqa-han-sans.com/">
    <meta property="og:url" content="http://www.spoqa-han-sans.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Spoqa Han Sans">
    <meta property="og:description" content="스포카 혼자 쓰기엔 지나치게 산뜻한 스포카 한 산스,
                                             한글날을 맞이하여 누구나 무료로 쓸 수 있도록 배포합니다.">
    <meta property="og:image" content="http://www.spoqa-han-sans.com/images/cover.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{ base_path }}/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
    $(function() {
      $('a[href^="#"]').click(function(e) {
        e.preventDefault();
        var $this = $(this);
        var href = $this.attr('href');
        if (history.pushState) history.pushState(href, href, href);
        var target = $(href);
        if (target.length == 0) return false;
        var offsetTop = target.offset().top;
        var topnavHeight = $('.topnav').height();
        var scrollTopTarget = offsetTop - topnavHeight;
        $('body,html').stop().animate({scrollTop: scrollTopTarget}, '1000', 'swing');
      })
    })
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-61954097-5', 'auto');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript">
      if ("ontouchstart" in document.documentElement) {
          document.documentElement.className += " touch";
      } else {
          document.documentElement.className += " no-touch";
      }
    </script>
  </head>
  <body class="preview-weight-regular preview-background-light">
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = '//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.5';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <header id="top">
      <div class="nav-box">
        <div class="container-fluid">
          <div class="nav-text"><a href="/">스포카 한 산스</a></div>
        </div>
      </div>
    </header>
      {{ content }}

    <footer class="footer footer-light">
      <div class="container-fluid">
        <div class="footer-wrapper row">
          <div class="col-xs-12 col-md-8">
            <div class="info-default row">
              <div class="col-xs-12 col-sm-10 col-md-12 col-lg-11">
                서울특별시 강남구 테헤란로 420 하이리빙빌딩 9층 (서울 지사) / 대표 최재승, SOHN GRANT SUNGHOON / 사업자 등록번호 211-88-59899 / 통신판매번호 2013-서울강남-02586 / FAX 02-544-6460
              </div>
            </div>
            <div class="footer-menus">
              <a target="_blank" href="http://scripts.sil.org/OFL">Open Font License</a>
              <a target="_blank" href="https://github.com/spoqa/spoqa-han-sans" target='blank'>View on Github</a>
              <a href="https://dribbble.com/spoqa" target='blank' class="footer-menu">Dribbble</a>
            </div>
            <div class="corp-info">
              <a class="corp-logo" href="http://www.spoqa.com/" target="blank"></a>
              <div class="corp-text">
                <span>SEOUL</span>
                <span>∙</span>
                <span>BUSAN</span>
                <span>∙</span>
                <span>TOKYO</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

