<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Spoqa Han Sans</title>
    <link rel="canonical" href="{{ site.base_path }}{{ page.url }}">
    <meta property="og:url" content="{{ site.base_path }}{{ page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Spoqa Han Sans">
    <meta property="og:description" content="Spoqa unveil the new version of Spoqa Han Sans, which has evolved in many ways. | 여러모로 개선을 거쳐 진화한 스포카 한 산스 두 번째 버전을 공개합니다. | これまでいろいろ改善して進化した新しいスポカーハンサンスを公開します。">
    <meta property="og:image" content="{{ site.base_path }}images/preview.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@spoqa">
    <meta name="twitter:title" content="Spoqa Han Sans">
    <meta name="twitter:description" content="Spoqa unveil the new version of Spoqa Han Sans, which has evolved in many ways. | 여러모로 개선을 거쳐 진화한 스포카 한 산스 두 번째 버전을 공개합니다. | これまでいろいろ改善して進化した新しいスポカーハンサンスを公開します。">
    <meta name="twtiter:image" content="{{ site.base_path }}images/preview.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{ site.base_path }}images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ site.base_path }}css/style.css">
    <link href='//fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link href='{{ site.base_path }}css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='{{ site.base_path }}css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
    $(function() {
      $('a[href^="#"]').click(function(e) {
        e.preventDefault();
        var $this = $(this);
        var href = $this.attr('href');
        if (history.pushState) history.pushState(href, href, href);
        var target = $(href);
        if (target.length == 0) return false;
        var offsetTop = target.offset().top;
        var topnavHeight = $('.topnav').height();
        var scrollTopTarget = offsetTop - topnavHeight;
        $('body,html').stop().animate({scrollTop: scrollTopTarget}, '1000', 'swing');
      })
    })
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-61954097-5', 'auto');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript">
      if ("ontouchstart" in document.documentElement) {
          document.documentElement.className += " touch";
      } else {
          document.documentElement.className += " no-touch";
      }
    </script>
    <script type="text/javascript" src="{{ site.base_path }}js/subnav-scrolling.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script type="text/javascript">
      $(window).load(function(){
        $(window).scroll(function() {
          var wintop = $(window).scrollTop(), docheight = $('article').height(), winheight = $(window).height();
          console.log(wintop);
          var totalScroll = (wintop/(docheight-winheight))*100;
          console.log("total scroll" + totalScroll);
          $(".progress-bar").css("width",totalScroll+"%");
        });
      });
    </script>

  </head>
  <body class="preview-weight-regular preview-background-light">
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = '//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.5';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    {{ content }}

    <footer class="footer footer-light">
      <div class="container-fluid">
        <div class="footer-wrapper row">
          <div class="col-xs-12">
            <div class="info-default row">
              <div class="col-xs-12 col-sm-10 col-md-12 col-lg-11">
                Spoqa Han Sans fonts are open source. All Spoqa Han Sans fonts are published under the <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL" target="_blank">SIL Open Font License, Version 1.1</a>.
              </div>
            </div>
            <div class="footer-menus">
              <a target="_blank" href="http://scripts.sil.org/OFL">Open Font License</a>
              <a target="_blank" href="https://github.com/spoqa/spoqa-han-sans" target='blank'>View on Github</a>
              <a href="https://dribbble.com/spoqa" target='blank' class="footer-menu">Dribbble</a>
            </div>
            <div class="corp-info">
              <a class="corp-logo" href="http://www.spoqa.com/" target="blank"></a>
              <div class="corp-text">
                <span>SEOUL</span>
                <span>∙</span>
                <span>BUSAN</span>
                <span>∙</span>
                <span>TOKYO</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="progress-container">
      <div class="progress-bar">
      </div>
    </div>
  </body>
</html>

